html{
    height: 100%;
    background: linear-gradient(
        135deg,
        #002d71 0%,
        #426497 60%,
        #7396b9 100%
    );
    font-family: 'Inter', sans-serif;
}

p{ color: rgba(12, 12, 12, 0.8); }