#allContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

#topBar {
    position: relative;
    top: -8px;
    right: 7px;
    width: 99.9vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(14px);
    background: rgba(0, 200, 120, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#map {
    width: min(82vh, 82vw);
    height: min(82vh, 82vw);
    border: solid #d0d6e1 2px;
    border-radius: 12px;
}

#mapContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#layersSection {
    width: 320px;
    max-height: 82vh;
    padding: 12px;
    background: rgba(240, 244, 250, 0.30);
    backdrop-filter: blur(14px);
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
}


.layerContainer {
    width: 90%;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.searchPanel {
    width: 90%;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    font-size: 1.0rem;
    background: rgba(240, 240, 240, 0.9);
}

.searchPanel:focus {
    box-shadow: 0 0 0 5px #a3c0ff41;
}