#map{
    width: 600px;
    height: 600px;
    border: solid black 2px;
}

#mapContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px
}

#layersSection{
    width: 300px;
    height: 600px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
}

.layerContainer{
    width: 280px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

#searchPanel{
    width: 280px;
    height: 40px;
    font-size: large;
    border: 1px black solid;
    padding: 1px;
}





















.slidecontainer {
    width: 200px; 
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
